<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자 위치 정보를 표시합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>GmarketSansTTFBold.ttf</string>
		<string>GmarketSansTTFLight.ttf</string>
		<string>GmarketSansTTFMedium.ttf</string>
	</array>
</dict>
</plist>
